.icon {
  size: 14px;
}

.contactData {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.btn {
  cursor: pointer;
  background-color: white;
  border: none;
}

.buttonBox {
  display: flex;
  flex-direction: column;
}
