.list {
  list-style: none;
  padding-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.listItem {
  padding-left: 8px;
  padding-right: 8px;
  width: calc((100% - 30px) / 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 3px;
}
